name: 'ACTIONGO'

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2     
    - name: Install Salesforce CLI
      run: |
          wget https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
          mkdir sfdx-cli
          tar xJf sfdx-linux-amd64.tar.xz -C sfdx-cli --strip-components 1
          ./sfdx-cli/install
    - name: version
      run: sfdx version
    - name: Project
      run: sfdx force:project:create -n "Action"
    
    - name: auth
      with:
          sfdx-auth-url: ${{ secrets.ACCESS_TOKEN }}
    - name: creation
      run: sfdx force:org:create -f config/project-scratch-def.json -d 3 
      
        
 
