name: 'ACTIONGO'
on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2  
    - name: Install Salesforce CLI
      run: |
          wget https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
          mkdir sfdx-cli
          tar xJf sfdx-linux-amd64.tar.xz -C sfdx-cli --strip-components 1
          ./sfdx-cli/install
     
    - name: Authenticate DevHub
      run: |
        echo "${SERVER}" > server.key
        sfdx force:auth:jwt:grant --clientid ${{secrets.CONSUMER_KEY}}  --jwtkeyfile server.key \
          -u ${{secrets.SALESFORCE_DEVHUB_USERNAME}} --setdefaultdevhubusername -a devhub --instanceurl https://sekartrailhead-dev-ed.my.salesforce.com/
      env:
        SERVER: ${{secrets.SERVER}}
        SALESFORCE_DEVHUB_USERNAME: ${{secrets.SALESFORCE_DEVHUB_USERNAME}}

      

   
