name: 'ACTIONGO'

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2     
    - name: Install Salesforce CLI
      run: |
          wget https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
          mkdir sfdx-cli
          tar xJf sfdx-linux-amd64.tar.xz -C sfdx-cli --strip-components 1
          ./sfdx-cli/install
    - name: version
      run: sfdx version
    - name: auth
      run: sfdx force:auth:jwt:grant --clientid "${{secrets.CONSUMER_KEY}}" --username santosh.n@servicemax.com --jwtkeyfile "${{secrets.SERVER}}" --setdefaultdevhubusername --setalias HubOrg    
     
        
 
